.app-container{
    display: flex;
    gap: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navigation{
    width: 100%;
}
.app-content{
    grid-row: 2;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
}
.btn-center{
    justify-self: center;
    max-width: 160px;
    width: 100%;
}
.form{
    display: grid;
}
.link-name, .capitalize{
    text-transform: capitalize;
    text-decoration: none;
}