.topic-row{
    display: grid;
    grid-template-columns: 240px minmax(240px, 1fr) 240px;
    gap: 1em;
    border-top: 1px solid rgba(221,221,221,.4);
    padding: 16px;
}
.topic-container{
    display: grid;
    gap: 1em;
}
.user-avatar-icon{
    height: 64px;
    width: 64px;
}

.user-avatar-and-name{
    display: flex;
    gap: .5em;
}

.topic-name-and-reply-button-container{
    display: flex;
    justify-content: space-between;
}
.tooltip-container{
    position: relative;
}

.reply-post-container.reply-post-container.reply-post-container{
   border: 3px solid rgba(221,221,221,.4);
   max-width: 1280px;
   width: 100%;
   margin: auto
}