.topic-row{
    display: grid;
    grid-template-columns: 240px minmax(50px, 1fr) minmax(50px, 240px);
    gap: 1em;
    padding: 16px;
}

@media screen and (max-width:800px){
    
}
.topic-row:not(:first-child){
    border-top: 1px solid rgba(221,221,221,.4);
}
.topic-container{
    display: grid;
    gap: 1em;
}
.user-avatar-icon{
    height: 64px;
    width: 64px;
}

.user-avatar-and-name{
    display: flex;
    gap: .5em;
}

.topic-name-and-reply-button-container{
    display: flex;
    justify-content: space-between;
}
.tooltip-container{
    position: relative;
}

.reply-post-container.reply-post-container.reply-post-container{
   border: 3px solid rgba(221,221,221,.4);
   max-width: 1280px;
   width: 100%;
   margin: auto
}
.user-actions{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    .user-avatar-and-name, .user-actions{
        flex-direction: column;
    }
    .topic-row{
        display: flex;
    }
    .topic-row:not(h4){
        word-break: break-all;
    }
}